body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    line-height: 1.6;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    }


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 10px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: #1F2937;
    padding: 100px 200px;
}

.trio {
    flex:1;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 10px;
}

.image {
    background-color: #E5E7EB;
    flex: 1;
}

img {
    height: 400px;
}