body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}

h2 {
    text-align: center;
}

img {
    border: 5px solid #3882F6;
    width: 200px;
    height: 200px;
}

.header, .link {
    background-color: #1F2937;
    
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
}

.herotext {
    color: #E5E7EB;
    font-size: 18px;
}

.info {
    display: flex;
    
}